/* destination content  */

.destination--hawaii {
    background-image: url(../assets/images/hawaii.jpg);
}

.destination--iceland {
    background-image: url(../assets/images/iceland.jpg);
}

.destination--greece {
    background-image: url(../assets/images/greece.jpg);
}

.destination {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 1rem;
}

.destination__title {
    font-size: 4.5rem;
    color: white;
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
}

.destination__container {
    margin-bottom: 3rem;
}

.destination__box {
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 80%;
    margin: 1rem auto;
}

.destination__card {
    min-width: 19rem;
    min-height: 28rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.destination__itin {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.destination__day {
    border-bottom: 2px solid #335576;
    font-size: 1.3rem;
    margin: 1rem 1.5rem 0 1.5rem;

}

.destination__list {
    background-color: #FEFAF5;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 1rem 1.5rem;
}