* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
    
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* nav section */

.header__nav {
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 75rem;
    padding: 1.2rem 2rem;
    margin: 0 auto;
}

.nav__links li:first-child {
    margin-right: auto;
}

.nav__logo {
    text-decoration: none;
    font-weight: bold;
    color: #335576;
}

.nav a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    color: #335576;
}

.nav__item--active {
    margin-top: 1rem;
    border-bottom: 3px solid #DB7A4E;
    width: 5px;
}

/* nav under line  */

.nav__item--active:hover,  
.nav__item--active:active {
    margin-top: 2rem;
    border-bottom: 3px solid #DB7A4E;
    width: 5px;
}

.nav__item:hover {
    margin-top: 2rem;
    border-bottom: 3px solid #DB7A4E;
    width: 5px;
}


/* footer section */

.footer {
    background-color: #FEFAF5;
    position: sticky;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 75rem;
    padding: 2rem;
    margin: 0 auto;
}

.footer__header {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

address {
    font-style: normal;
}

.footer a {
    text-decoration: none;
}

.footer__subtitle {
    color:  #DB7A4E;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.footer__info {
    color: #335576;
    font-size: 12px;
}

.footer__info--email {
    margin-top: 0.3rem;
}


.footer__hourbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

/* footer social icons */

.footer__social {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 3rem;
}

.footer__icon {
    max-width: 75%;
    max-height: 2rem;
}
