* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
    
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* nav section */

.header__nav {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 80rem;
    padding: 1.2rem 5rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 9;
    
}

.header__logo {
    text-decoration: none;
    font-weight: bold;
    color: #335576;
}

/* .nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 6rem;
    margin-bottom: 0.5rem;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
} */

.nav a {
    text-decoration: none;
    padding-bottom: 0.5rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    color: #335576;
}

ul.nav__links {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

/* nav under line  */

.nav__item--active:hover,  
.nav__item--active:active {
    margin-top: 2rem;
    border-bottom: 4px solid #DB7A4E;
    width: 5px;
}


/* footer section */

.footer {
    background-color: #FEFAF5;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.footer__header {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.footer a {
    text-decoration: none;
}

.footer__subtitle {
    color:  #DB7A4E;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 1.2rem;
}

.footer__info {
    color: #335576;
    font-size: 12px;
    list-style: none;
    margin: 0.5rem 0 1rem 0;
}

/* footer hours */

.footer__hours {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* footer social icons */

.footer__social {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

.footer__icon {
    /* min-width: 1.5rem; */
    max-width: 75%;
    max-height: 2rem;
}
