body {
    color: #335576;
}

/* hero section */

.hero {
    background-color: #FEFAF5;
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 75rem;
}

.hero__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.hero__title {
    font-size: 2rem;
    inline-size: 30rem;
    margin: 1rem 0;
}

.hero__content {
    font-size: 0.9rem;
    inline-size: 34rem;
}

.hero__button {
    max-width: fit-content;
    padding: 0.5rem 2rem;
    margin: 4px 0;
    font-size: 0.8rem;
    background-color: #DB7A4E;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.hero__button:hover, .hero__button:focus {
    background-color: #e6a07ffa;
    border: 2px solid #DB7A4E;
    transition: background-color 200ms ease-in-out;

}

.hero__img--container {
    min-width: 25rem;
    max-width: 35rem;
    text-align: right;
}

.hero__img {
    width: 95%;
}

/* recommendation card content */

.card__container {
    margin: 0 3rem 6rem 3rem;

}

.card__box {
    min-width: 19rem;
    min-height: 28rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 20%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 20%);
    background-repeat: no-repeat;
    text-decoration: none;
    color: white;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
}

.card__content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 85%;
    margin: auto;
}

.card__title {
    max-width: 75rem;
    padding: 2rem;
    margin: 1rem auto 0;
}

.card__subheader {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    margin: 1rem;
}

.card__box--hawaii {
    background-image: url("../assets/images/hawaii.jpg");
}

.card__box--iceland {
    background-image: url("../assets/images/iceland.jpg");
}

.card__box--greece {
    background-image: url("../assets/images/greece.jpg");
}

.card__box:hover,
.card__box:focus {
    border: 2px solid #DB7A4E;
    transition: border 200ms ease-in-out;
}