body {
    color: #335576;
}

/* nav under line  */

/* .nav__item--active:hover, .nav__item--active:focus, .nav__item--active:active{
    margin-top: 2rem;
    border-bottom: 4px solid #DB7A4E;
    width: 5px;
} */

.nav__item--active {
    margin-top: 1rem;
    border-bottom: 4px solid #DB7A4E;
    width: 5px;
}

/* hero section */

.hero {
    background-color: #FEFAF5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 2rem;
}

.hero__title {
    inline-size: 27rem;
}

.hero__content {
    inline-size: 41rem;
}

.hero__button {
    max-width: 20%;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #DB7A4E;
    color: white;
    border: none;
    border-radius: 10%;
}

.hero__img {
    max-width: 30%;
}

/* content box index page */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em 5rem 5rem 5rem;
}

.card__content {
    display: flex;
    justify-content: space-evenly;
    margin: 0 3rem;
}


/* .card__box {
    min-width: 295px;
    max-width: 300px;
    min-height: 442px;
    max-height: 410px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 20%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 20%);
    display: flex;

    in global.css
} */

.card__title {
    padding: 1rem;
}

.card__box--content {
    text-decoration: none;
    color: white;
}

.card__subheader {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    margin: 1rem;
}


.card__box--hawaii {
    background-image: url("../assets/images/hawaii.jpg");
    background-size: cover;
    text-decoration: none;
    justify-content: flex-end;
    align-items: flex-end;
}

.card__box--iceland {
    background-image: url("../assets/images/iceland.jpg");
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}

.card__box--greece {
    background-image: url("../assets/images/greece.jpg");
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
}